# Local env / secrets
.env
.env.*

# Node
node_modules/
.pnpm-store

# Next.js
.next/
out/

# Firebase
.firebase/

# TypeScript build artifacts
tsconfig.tsbuildinfo

# Turborepo
.turbo

# OS / editor
.DS_Store
.vscode
*.log
